<h4> Here are the list of products crawled </h4>
<div class="table-responsive" style='margin-bottom: 50px'>
  <% crawl.products.each_with_index do |product, index| %>
    <table class="table table-bordered table-inverse">
      <tr>
        <td class = 'bold-font'>S.No</td>
        <td> <%= index + 1 %> </td>
      </tr>
      <tr>
        <td class = 'bold-font'>Title</td>
        <td> <%= product[:title] %> </td>
      </tr>
      <tr>
        <td class = 'bold-font'>Actual Price</td>
        <td> <%= product[:actual_price] %> </td>
      </tr>
      <tr>
        <td class = 'bold-font'>Offer Price</td>
        <td> <%= product[:offer_price] %> </td>
      </tr>
      <tr>
        <td class = 'bold-font'>EMI </td>
        <td> <%= product[:emi] %> </td>
      </tr>
      <tr>
        <td class = 'bold-font'>Ratings</td>
        <td> <%= product[:ratings] %> </td>
      </tr>
      <tr>
        <td class = 'bold-font'>Image Url</td>
        <td> <a href = "<%= product[:image] %>" target = '_blank'><%= product[:image] %> </a></td>
      </tr>
    </table>
  <% end %>
