<tr>
  <div class="table-responsive">
    <table class="table table-bordered table-inverse">
      <% crawl.products.each_with_index do |product, index| %>
        <tr>
          <td style='vertical-align: top; font-weight: bold; width: 20%'>Title: </td>
          <td> <%= product[:title] %> </td>
        </tr>
        <tr>
          <td style='vertical-align: top; font-weight: bold; width: 20%'>Actual Price: </td>
          <td> <%= product[:actual_price] %> </td>
        </tr>
        <tr>
          <td style='vertical-align: top; font-weight: bold; width: 20%'>Offer Price:</td>
          <td> <%= product[:offer_price] %> </td>
        </tr>
        <tr>
          <td style='vertical-align: top; font-weight: bold; width: 20%'>EMI : </td>
          <td> <%= product[:emi] %> </td>
        </tr>
        <tr>
          <td style='vertical-align: top; font-weight: bold; width: 20%'>Ratings:</td>
          <td> <%= product[:ratings] %> </td>
        </tr>
        <tr>
          <td style='vertical-align: top; font-weight: bold; width: 20%'>Image Url:</td>
          <td> <a href = "<%= product[:image] %>" target = '_blank'><%= product[:image] %> </a></td>
        </tr>
      <% end %>
    </table>
  </div>
</tr>
