<html>
<head>
  <title>
    Crawling Application
  </title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
</head>
<body>
<div class="container width-100">
  <%= render :partial => '/layouts/home/header' %>
  <div class="flash bg-success">
    <% flash.each do |type, message| %>
        <div class=" alert alert-<%= type %>">
            <span>
              <%= message %>
            </span>
          <span class="pull-right x cursor-pointer">X</span>
        </div>
    <% end %>
  </div>
  <div class="main-color" id="main-wrap">
    <%= yield %>
  </div>
</div>
<%= render :partial => '/layouts/home/footer' %>
<%= javascript_include_tag 'application' %>
</body>
</html>
